*.pyc
.env
logs
.venv
.vscode
config.toml
*__pycache__*
temp*

datasets/**/*
!datasets/raw/
datasets/raw/*
!datasets/raw/preprocess_datasets.py
scripts/audit*
scripts/audit_stas.py
scripts/generate_taxonomy_statistics.py

.DS_Store
